.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal-content{
    max-width: 450px;
    width: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: rgb(249,250,251);
    transform: translate(-50%, -50%);
    padding: 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal h3{
    text-align: center;
    font-style: oblique;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.modal span{
    text-align: center;
}

.modal input{
    width: 35%;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    border-radius: 15px;
    border: 1px solid grey;
    background: rgba(255,255,255,0.5);

}

.modal-content button{
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    background: linear-gradient(0deg, rgba(253,247,45,1) 50%, rgba(45,98,253,1) 50%);
    cursor: pointer;
}